.footer {
  height: 70px;
  background: #1e293b;
  color: #374151; /* cinza escuro */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 30px;
  border-top: 1px solid #e5e7eb;
  font-size: 0.9rem;
}

.footer-logo {
  font-size: 1rem;
  font-weight: bold;
  color:  rgb(225, 84, 29);
  margin: 0;
}

.footer-center {
  display: flex;
  align-items:start;
  gap: 10px;
  font-size: 0.85rem;

}
.footer-meta {
  font-weight: 500;
  color:  rgb(225, 84, 29);
  white-space: nowrap;
}

/* Separador • */
.footer-dot {
  color: #475569;
  margin: 0 2px;
}


/* Copyright compacto */
.footer-center  {
  font-size: 0.9rem;
  margin: 0;
  white-space: nowrap;
}

/* Status online */
.status-online {
  color: #e51f0d;
  font-weight: 600;
}



.footer-icon {
  text-decoration: none;
  color: #d9dde2;
  font-weight: 500;
  transition: color 0.2s ease;
}

.footer-icon:hover {
  color: rgb(225, 84, 29);
}
/* ======== RESPONSIVO ======== */

/* Tablets (até 1024px) */
@media (max-width: 1024px) {
  .footer {
    padding: 0 20px;
    font-size: 0.85rem;
  }

  .footer-center {
    gap: 15px;
  }

}

/* Mobile médio (até 768px) */
@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    height: auto;
    padding: 15px 20px;
    text-align: center;
    gap: 10px;
  }



 .footer-center {
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 6px;
  }

  .footer-dot {
    display: none;
  }

 
}

/* Mobile pequeno (até 480px) */
@media (max-width: 480px) {
  .footer {
    gap: 15px;
    padding: 20px 15px;
  }

  .footer-logo {
    font-size: 0.9rem;
  }

  .footer-copy {
    font-size: 0.7rem;
  }

  .footer-center {
    gap: 10px;
    font-size: 0.8rem;
  }


  .footer-icon {
    font-size: 0.85rem;
  }
}
