.login-section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 0rem;
  background: linear-gradient(rgba(17, 17, 17, 0.412), rgba(20,20,20,1)), url("https://res.cloudinary.com/dwi9yz8wj/image/upload/v1765817245/pizzaLogin_znyonz.jpg");
   background-position: center;
  background-size: cover;
}

.login-card {
  background: #fff;
  padding: 2rem;
  border-radius: 1rem 0 0 1rem;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  width: 100%;
  max-width: 340px;
  height: 25rem;
}

.loginTitle h1{
  margin: 0rem;
 color: #d1921d;
  font-size: 1.4rem;
}
.loginTitle h3{
    margin-bottom:0 ;
    color: black;
}
.loginTitle h5{
    width: 100%;
    margin-top:0.5rem ;
}

.login-form .form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;

}

.login-form .form-group  label {
  margin-bottom: 0.3rem;
  font-weight: 600;
  margin-left: 0;
  
}

.login-form input {
  padding: 0.6rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 1rem;
  background-color: #6a6d6f;
  color:#323231;
}

.form-actions {
  text-align: center;
  margin-top: 1rem;
}

.btn-login {
  background: #d1921d;
  color: white;
  padding: 0.6rem 1.2rem;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  width: 100%;
  font-size: 1rem;
  transition: 0.2s;
}

.btn-login:hover {
  background: #e79a0b;
}
.ImageLogin img {
    padding-top: 0.4rem;
    width: 27rem;
    height: 29rem;
    border-radius: 0 1rem 1rem 0;
}
